<!DOCTYPE html>
<html>
  <head>
    <title>Mostrar elementos con v-show</title>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>  -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <!-- Recorrer elementos de un array -->
  <ul id="app1">
    <li v-for="item in items">
      {{ item.message }}
    </li>
  </ul>

  <!--
    Dentro del bloque for podemos acceder a las propiedades del elemento padre 'parentMessage' 
    El bucle for también admite otro parámetro opcional con el índice numérico cada elemento del array (variable 'index') 
  -->
  <ul id="app2">
    <li v-for="(item, index) in items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>

  <!--

  -->
  <ul id="app3">
    <template v-for="item in items">
      <li>{{ item.message }}</li>
      <li>-</li>
    </template>
  </ul>

  <body>
    <script>
      var app1 = new Vue({
        el: "#app1",
        data: {
          // Dentro del bloque de datos definimos un array [...] de objetos
          items: [{ message: "Foo" }, { message: "Bar" }]
        }
      });
      //-----------------------------------------------------------------
      var app2 = new Vue({
        el: "#app2",
        data: {
          items: [{ message: "One" }, { message: "Two" }]
        }
      });
      //-----------------------------------------------------------------
      var app3 = new Vue({
        el: "#app3",
        data: {
          items: [{ message: "Uno" }, { message: "Dos" }]
        }
      });
    </script>
  </body>
</html>
