<!DOCTYPE html>
<html>
  <head>
    <title>Condicionales v-if</title>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>  -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app-1">
      <span v-if="seen">
        Condicional if
      </span>
    </div>

    <!-- Condicional con else -->
    <div id="app-2">
      <h1 v-if="ok">Yes</h1>
      <h1 v-else>No</h1>
    </div>

    <!-- 
      usamos tag template para condicionar varios elementos.
      El tag template no se renderiza nunca 
    -->
    <div id="app-3">
      <template v-if="ok">
        <h1>Título</h1>
        <p>parrafo 1</p>
        <p>parrafo 2</p>
      </template>
    </div>

    <div id="app-4">
      <p v-if="dato > 6">Mayor que 6</p>
      <p v-else-if="dato < 6">Menor que 6</p>
      <p v-else>No</p>
    </div>

    <script>
      var app1 = new Vue({
        el: "#app-1",
        data: {
          seen: true
        }
      });

      var app2 = new Vue({
        el: "#app-2",
        data: {
          ok: true
        }
      });

      var app3 = new Vue({
        el: "#app-3",
        data: {
          ok: true
        }
      });

      var app4 = new Vue({
        el: "#app-4",
        data: {
          dato: 12
        }
      });
    </script>
  </body>
</html>
