<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>  -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h1>{{ titulo }}</h1>
      <p>{{ mensaje }}</p>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
