<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: "Hola Vue!"
        }
      });
    </script>
  </body>
</html>
